* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
content: '';
display: table;
clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.layover {
  background-color: rgba(0, 0, 0, 0.2);
  /* height: 500px; */
  height: 100%;
  border-radius: 10px;
}

/* HEADER */
/* top header */
.logo
{
  height: 70px;
  border-right: 1px solid #E5E5E5;
  padding-right: 20px;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
  display: inline-block; 
  padding-right: 15px;
}

nav li a, nav li a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #878787;
}

nav li a:hover, nav li a:active {
  color: red;
}

/* jumbotron */
.jumbotron {
  margin: 40px 0;
  background-image: url(../img/banner.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}


.jumbotron-text {
  padding-left: 45px;
  padding-top: 30%;
  width: 50%;
  color: white;
}

/* MAIN */
main .top-bar h6 {
  color: #949494;
}

.fl {
  float: left;  
  min-height: 490px; /*da togliere*/
}

.l-column, .r-column {
  width: 20%;
  margin: 35px 0;
}

.c-column {
  width: 56%;
  margin: 35px 2%;
}

.l-column .l-img {
  background-image: url(../img/img-1.jpg);
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.c-column .c-img {
  background-image: url(../img/banner-2.jpg);
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.r-column .r-img {
  background-image: url(../img/img-3.jpg);
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.main-content .column-title{
  padding-top: 25px;
  padding-bottom: 13px;
  
}

.main-content p {
  color: #949494;
}

/* FOOTER */
footer {
  margin-top: 10px;
  background-color: #8801FE; /*da togliere*/
  height: 70px; /*da togliere*/
}
